.logo {
  height: 32px;
  margin: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #1890ff;
}

.ant-layout-sider {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}

.ant-menu {
  border-right: none;
} 